<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="BeautyFly"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYPMid">
        <activity
            android:name=".PasswordReset"
            android:label="Reset Password"
            android:exported="false" />
        <activity
            android:name=".Categories"
            android:exported="false"
            android:label="Category wise"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserWallet"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PopularServiceAddCart"
            android:exported="false"
            android:theme="@style/WithoutActionBar" />
        <activity
            android:name=".ServiceProviderProfile"
            android:exported="false"
            android:label="Service Provider Details" />
        <activity
            android:name=".AboutUs"
            android:exported="false"
            android:label="About Us"
            android:parentActivityName=".MainActivity" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".AddService"
            android:exported="false"
            android:theme="@style/WithoutActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/WithoutActionBar" />
        <activity
            android:name=".UserProfile"
            android:theme="@style/WithoutActionBar" />
        <activity
            android:name=".Login"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".SearchActivity"
            android:label="Search Services"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".IntroductoryActivity"
            android:exported="true"
            android:theme="@style/WhiteStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminActivity"
            android:theme="@style/WithoutActionBar" />
    </application>

</manifest>